
    
.criminalsContainer {
    display: flex;
    margin: 12px 0;
    flex-basis: 30%;
    flex-wrap: wrap;
    
    
}

.criminal-container {
    
    border: solid black 2px;
    justify-content: space-around;
    flex-basis: 25%;
    margin: 12px;
    padding: 8px;
}
